
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1" />
          <title>Reset password</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        </head>
        
        <body bgcolor="#f7f7f7">
        <table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="100%">
          <tr>
            <td align="left" valign="top" width="100%" style="background:repeat-x url() #ffffff;">
              
            </td>
          </tr>
          <tr>
            <td align="center">
              <center>
                <table cellspacing="0" cellpadding="0" width="600" class="w320">
                  <tr>
                    <td class="header-lg">
                     

			        <form action="/user/resetpassword?token={{token}}" method="POST">
					  
					  <div class="form-group">
					    
					    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Select new Password">
					  </div>
					  
					  <div align="center"><button type="submit" class="btn btn-primary">Submit</button></div>
					</form>
                    </td>
                  </tr>
                  <tr>
                    
                  </tr>
                  
                </table>
              </center>
            </td>
          </tr>
        
        
        
          <tr>
            
          </tr>
        </table>
        </body>
        </html>